.DS_Store
Thumbs.db
node_modules/
npm-modules/
dist/
coverage/
.nyc_output/
.env
*.log
*.sublime-workspace
*.tap
*.xml
volumes.yml
tmp.yml
*.xlsx
!fixtures/*.xlsx
data.json
api-docs.json
yarn-error.log
yarn.lock
